---
permalink: /filmstrip
---

{% assign site_photos = site.photos | reverse %}

<div class="row">
    <div class="column">
    {% for photo in site_photos %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod != 0 %}
            <!-- odd -->
            <a href="{{ photo.url }}">
                <img class="roll" src="/assets/photos/{{ photo.photo_filename }}-thumb.webp"/>
            </a>
            
        {% endif %}
    {% endfor %}
    </div>
    <div class="column">
        {% for photo in site_photos %}
            {% assign mod = forloop.index | modulo: 2 %}
            {% if mod == 0 %}
                <!-- odd -->
                <a href="{{ photo.url }}">
                    <img class="roll" src="/assets/photos/{{ photo.photo_filename }}-thumb.webp"/>
                </a>
                
            {% endif %}
        {% endfor %}
    </div>
</div>
