@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/assets/fonts/hubot_sans/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('/assets/fonts/hubot_sans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --colorBlack: rgb(28, 28, 28);
    --colorGrey: rgb(128, 128, 128);
    --colorWhite: rgb(230, 230, 230);
    --colorAccentRed: rgb(235 29 38);
    --colorAccentOrange: rgb(255 183 0);
    
    --inkColor: var(--colorWhite);
    --backgroundColor: var(--colorBlack);
}

body {
    font-family: 'Hubot Sans';
    font-size: 3em;
    background: var(--backgroundColor);
    color: var(--inkColor);
    padding: 2em;
    min-width: 0;
    max-width: 55em;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-top: 2em;
}

a {
    color: var(--colorAccentRed);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: var(--colorAccentOrange);
}

p {
    font-size: 1.15em;
    font-weight: 800;
}

p + p {
    color: var(--colorGrey);
}

.header {
    padding: 5px;
    width: 100%;
    height: 200px;
    max-width: 1024px;
    margin-bottom: 1em;
}

.header img {
    width: auto;
    height: 100%;
    margin: auto;
    display: block;
}

.header img:hover {
    filter: brightness(1.5) saturate(5);
}

.thumbnail {
    float: left;
    width: 100%;
}

.thumbnail img {
    width: 100%;
    max-width: 1024px;
    aspect-ratio: 36 / 24;
    object-fit: cover;
    animation-name: develop;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.thumbnail img:hover {
    filter: invert(0) !important;
}

@keyframes develop {
    from { filter: invert(1); }
    to { filter: invert(0); }
}

.film_number {
    color: var(--colorAccentOrange);
    font-size: 0.8em;
    font-weight: 500;
}

.film_number::before {
    content: '#';
}

.imgdetails {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navigation {
    float: left;
    margin-top: 1em;
}

.cover {
    width: 90%;
    margin: auto;
    display: block;
}

.cover:hover {
    filter: brightness(1.5) saturate(5);
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: var(--colorGrey);
}

.progress-bar {
    width: 100%;
    height: 1em;
    background-color: var(--backgroundColor);
    border: solid 1px var(--colorAccentOrange);
    margin-bottom: 1em;
}

.progress-bar-boot {
    float: left;
    height: 100%;
    background-color: var(--colorAccentOrange);
    animation-name: progress_boot;
    animation-timing-function: steps(10, end);
    animation-fill-mode: both;
}
.progress-bar-develop {
    float: left;
    height: 100%;
    background-color: var(--colorAccentRed);
    animation-name: progress_develop;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes progress_boot {
    from { width: 0%; }
    to { width: 75%; }
}

@keyframes progress_develop {
    from { width: 0%; }
    to { width: 25%; }
}

/* DESKTOP OVERRIDES */
@media all and (min-width: 1024px) { 
    body {
        font-size: 1em;
    }

    h1 {
        margin-top: 1em;
    }

    p {
        font-size: 1.35em;
    }

    .thumbnail {
        width: 25%;
    }

    .navigation {
        font-size: 1.15em;;
        position: relative;
        float: right;
    }
}