@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/assets/fonts/hubot_sans/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('/assets/fonts/hubot_sans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --colorBlack: rgb(28, 28, 28);
    --colorWhite: rgb(230, 230, 230);
    --colorAccentRed: rgb(235 29 38);
    --colorAccentOrange: rgb(255 183 0);
    
    --inkColor: var(--colorWhite);
    --backgroundColor: var(--colorBlack);
}

body {
    font-family: 'Hubot Sans';
    font-size: 3em;
    background: var(--backgroundColor);
    color: var(--inkColor);
    padding: 2em;
    min-width: 0;
    max-width: 55em;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
}

a {
    color: var(--colorAccentRed);
    text-decoration: none;
    font-weight: 600;
}

p {
    font-size: 1.25em;
    font-weight: 800;
}

.header {
    padding: 5px;
    width: 100%;
    height: 200px;
    max-width: 1024px;
    margin-bottom: 2em;
    background-image: url('/assets/images/fx3_bw.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-image 0.2s ease-in-out;
}

.header:hover {
    background-image: url('/assets/images/fx3_color.webp');
}

.thumbnail {
    float: left;
    width: 100%;
}

@media all and (min-width: 1024px) { 
    body {
        font-size: 1em;
    }
    .thumbnail {
        width: 25%;
    }
}

.thumbnail img {
    /* vertical-align: middle; */
    width: 100%;
    max-width: 1024px;
    aspect-ratio: 36 / 24;
    object-fit: cover;
    animation-name: develop;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes develop {
    from { filter: invert(1); }
    to { filter: invert(0); }
}

.film_number {
    color: var(--colorAccentOrange);
    font-size: 0.8em;
    font-weight: 500;
}

.film_number::before {
    content: '#';
}

.imgdetails {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navigation {
    position: relative;
    float: right;
}