---
layout: default
---

{% include breadcrumbs.html %}

{% assign pos = page.url | size | minus: 4 %}
{% assign url_base = page.url | slice: 0, pos %}

{% assign photo_number = page.title | plus: 0 %}
{% assign next_photo_number = photo_number | plus: 1 %}
{% assign previous_photo_number = photo_number | minus: 1 %}
{% assign total_photos = site.photos | size %}

{% if previous_photo_number == 0 %}
    {% assign previous_photo_number = photo_number%}
{% endif %}
{% if next_photo_number > total_photos %}
    {% assign next_photo_number = photo_number%}
{% endif %}

<div class="navigation">
    <a href="{{url_base}}{{previous_photo_number | prepend: '0000' | slice: -4, 4 }}">← Previous</a> · <a href="{{url_base}}{{next_photo_number | prepend: '0000' | slice: -4, 4 }}">Next →</a>
</div>
{% assign number = page.photo_filename | split : '_' | last %}
<h1><span class="film_number">{{ page.title }}</span> {{ page.photo_filename | replace : '_', ' ' | remove: number }}</h1>
<img class="imgdetails" src="/assets/photos/{{ page.photo_filename }}.jpeg"/>

{{ content }}

<!-- <img src="/assets/images/fx3_top.webp" width="300px" style="position: absolute; right: 0; margin-top: 25px; filter: saturate(3)"/> -->